# local tex files

*.log
*.aux
*.out
*.toc
*.synctex.gz
.gradle
/local.properties
/.idea/workspace.xml
/.idea/libraries
.idea/
.DS_Store
IO-Fouriers.iml
FouriersPhone.iml
/build
/captures
.externalNativeBuild
